[submodule "github.com/TheThingsNetwork/api"]
	path = github.com/TheThingsNetwork/api
	url = https://github.com/TheThingsNetwork/api.git
    ignore = dirty
[submodule "github.com/TheThingsNetwork/gateway-connector-bridge"]
	path = github.com/TheThingsNetwork/gateway-connector-bridge
	url = https://github.com/TheThingsNetwork/gateway-connector-bridge.git
    ignore = dirty
[submodule "github.com/gogo/protobuf"]
	path = github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf.git
    ignore = dirty
[submodule "paho.mqtt.embedded-c"]
	path = paho.mqtt.embedded-c
	url = https://github.com/eclipse/paho.mqtt.embedded-c.git
